<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายงานขอจัดซื้อจัดจ้าง</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>

<div class="menu">
    <a href="/select"><button>กลับไปหน้าแรกสุด</button></a>
</div>

<div class="topbar">
    <a href="/select" class="btn-back">← เลือกประเภทเอกสาร</a>
    <div class="topbar-right">
        <button onclick="window.print()">🖨 พิมพ์ PDF</button>
    </div>
</div>

<div class="a4">

    <img src="{{ url_for('static', filename='logo.jpg') }}" class="logo">

    <h1>รายงานขอจัดซื้อหรือจัดจ้าง</h1>

    <div class="paragraph mt12">
        <b>เรื่อง:</b> {{ data.subject }}
    </div>

    <div class="paragraph mt8">
        <b>รายละเอียด:</b>
    </div>

    <div class="paragraph">{{ data.section1 }}</div>

    <div class="paragraph mt8">{{ data.section2 }}</div>

    <div class="paragraph mt8">{{ data.closing }}</div>

    <div class="sign-right" style="margin-top:60px;">
        <div>{{ data.signature_from }}</div>
        <div>{{ data.position_from }}</div>
    </div>

</div>

</body>
</html>