{% extends "base.html" %}

{% block title %}มอบหมายผู้จัดทำรายละเอียดคุณลักษณะเฉพาะ{% endblock %}

{% block page_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page2.css') }}">
{% endblock %}

{% block content %}
<div class="a4">

    <img src="{{ url_for('static', filename='logo.png') }}" class="logo">

    <div class="row mt10">
        <div class="left"><span class="p3-label">จาก</span>&nbsp;&nbsp;&nbsp;{{ data.from }}</div>
        <div class="right"><span class="p3-label">ถึง</span>&nbsp;&nbsp;&nbsp;{{ data.to }}</div>
    </div>

    <div class="row mt5">
        <div class="left"><span class="p3-label">ที่</span>&nbsp;&nbsp;&nbsp;{{ data.number }}</div>
        <div class="right"><span class="p3-label">วันที่</span>&nbsp;&nbsp;&nbsp;{{ data.date }}</div>
    </div>

    <div class="receiver mt12">
        <span class="topic-label">เรื่อง</span>
        <span>{{ data.subject }}</span>
    </div>

    <div class="receiver mt12">
        <span class="p3-label">เรียน</span>&nbsp;&nbsp;&nbsp;{{ data.receiver }}
    </div>

    <div class="paragraph mt18">{{ data.section1 }}</div>
    <div class="paragraph mt8">{{ data.section2 }}</div>
    <div class="paragraph mt8">{{ data.closing }}</div>


    <div class="sign-right">
        <div>{{ data.signature_from }}</div>
        <div>{{ data.position_from }}</div>
    </div>


    <div class="approve">
        {{ data.approve }}
    </div>


    <div class="sign-left">
        <div>{{ data.signature_approve }}</div>
        <div class="position-under">{{ data.position_approve }}</div>
    </div>

    <div class="ref-table mt18">
        <table class="ref-table-box">
            <tr>
                <td class="ref-label">ชผ.</td>
                <td class="ref-sign">{{ session.get('supervisor_name', '') }}</td>
                <td class="ref-sign">{{ today_th }}</td>
            </tr>
            <tr>
                <td class="ref-label">พชง.</td>
                <td class="ref-sign">{{ session.get('name', '').split()[0] }}</td>
                <td class="ref-sign">{{ today_th }}</td>
            </tr>
        </table>
        <div class="ref-text">
            <div class="ref-dept mt5">{{ data.dept_name }}</div>
            <div class="ref-tel">เบอร์โทร&nbsp;&nbsp;{{ data.dept_tel }}</div>
        </div>
    </div>

</div>
{% endblock %}