.a4{
    padding-top:1.2cm;
    padding-left:2.54cm;
    padding-right:2.5cm;
    padding-bottom:2.54cm;
}

.row{
    position: relative;
    width: 100%;
    min-height: 0.6cm;
}

.row .left{
    display: inline-block;
}

.row .right{
    position: absolute;
    left: 8cm;    
    top: 0;
}

.field-label{
    display: inline-block;
    width: 2.2cm;   
}

.section-title{
    text-align:left;
    margin-left:2.320cm;
    margin-top:0.25cm;
    color:#40275c;
    font-family:THSarabunBold;
}

.approve{
    margin-top:0.45cm !important;
    text-align:left;
    color:#1f1b25;
    font-size:14pt !important;
}

.sign-right{
    width:9cm !important;
    margin-left:auto;
    margin-top:0.5cm !important;
    text-align:center;
    color:#1f1b25;
}

.sign-left{
    width:7cm;
    margin-top:0.3cm !important;
    margin-left:0;
    margin-right:auto;
    text-align:left;
    color:#1f1b25;
    font-size:14pt !important;
}

.position-under{
    margin-top:0.2cm;
    text-align:left;
    margin-left:1.0cm;
}
.ref-table{
    margin-top:0.35cm;
    overflow:hidden;
}

.ref-table-box{
    float:right;
    width:6.5cm;
    border-collapse:collapse;
    margin:0;
}

.ref-table-box td{
    border:1px solid #555;
    padding:2px 8px;
    font-size:11pt;
    background:none;
    color:#000;
    text-align:center;
}

.ref-table-box tr:hover{
    background:none;
}

.ref-label{
    font-family:THSarabunBold;
}

.ref-text{
    float:left;
}

.ref-dept{
    font-size:12pt;
    margin-top:6px;
}

.ref-tel{
    font-size:12pt;
}

@media print {
    .sign-right, .sign-left, .approve{ page-break-inside: avoid; }
}